.about {
	width: 525px;
	margin-left: 120px;
}

.about__title {
	text-align:left;
	margin:0;
	margin-bottom: 45px;
}

.about__desc {
	font-weight: 100; 
	font-size: 20px;
	line-height: 22px;
	margin-bottom: 25px;
}

.about__btn {
	width:168px;
}

.about a {
	color:#ffffff;
}

