.language__list,
.language__list--drop {
  list-style: none;
}

.language__list {
  margin-top: 35px;
}

.language__item {
  display: block;
  width: 19px;
  height: 19px;
  background-image: url('../img/english.png');
  background-repeat: no-repeat;
  background-position: center;
}

.language__item--active {
  display: block;
  position: relative;
}

.language__item--active::after {
  content: "";
  position: absolute;
  left: 22px;
  top:12px;
  display: block;
  width: 0;
  height: 0;
  border:solid transparent 5px;
  border-top-color: #ffffff;
  border-bottom: 0;
}

.language__list--drop {
  position: absolute;
  top:30px;
  left: 0px;
  display: none;
}

.language__item--drop {
  margin-bottom: 5px;
}