@font-face {
  font-weight: 400;
  font-family: "Lato";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/lato-v17-latin-regular.woff2") format("woff2"), url("../fonts/lato-v17-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-weight: 900;
  font-family: "Lato";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/lato-v17-latin-900.woff2") format("woff2"), url("../fonts/lato-v17-latin-900.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
  min-width: 495px;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  font-style: normal;
  font-family: "Lato", "Arial", sans-serif;
  color: #FFFFFF;
  /*background-color: #1C1E22;*/
}

img {
  max-width: 100%;
  height: auto;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  margin: 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}

.button {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  text-shadow: none;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 4px solid #1D2227;
  background-color: transparent;
  cursor: pointer;
  background-image: -webkit-linear-gradient(129.34deg, #2F353A 14.75%, #1C1F22 84.81%);
  background-image: linear-gradient(320.66deg, #2F353A 14.75%, #1C1F22 84.81%);
  box-shadow: 14px 14px 40px rgba(16, 16, 18, 0.75), -7px -7px 30px #262E32;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  outline: none;
  color: #7F8489;
  cursor: url("../img/cursor.svg"), auto;
}

.button--on {
  border: none;
  background-image: url("../img/btn-on.png");
  box-shadow: 10px 15px 40px rgba(0, 0, 0, 0.5), -10px -15px 40px rgba(82, 89, 94, 0.5);
  color: #ffffff;
  cursor: url("../img/cursor-auto.svg"), auto;
}

.button--on path {
  fill: #ffffff;
}

.button--start::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  background-repeat: no-repeat;
  background-position: center;
  width: 18px;
  height: 20px;
  background-image: url("../img/power-icon.svg");
}

.button--auto {
  font-size: 20px;
  line-height: 20px;
}

.button:hover:not(.button--on) {
  border: none;
  background-image: url("../img/btn-hover.png");
}

.button:hover {
  color: #ffffff;
}

.button:hover path {
  fill: #ffffff;
}

.header-button {
  position: relative;
  display: block;
  text-decoration: none;
  text-shadow: none;
  border: none;
  cursor: pointer;
  width: 57px;
  height: 57px;
  background-color: #212529;
  box-shadow: 7px 7px 30px #1F2427, -7px -7px 30px #485057;
  border-radius: 30px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 43px;
}

.header-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 57px;
  height: 57px;
  background-image: -webkit-linear-gradient(299deg, #3f444d 0%, #24282c 73%);
  background-image: linear-gradient(151deg, #3f444d 0%, #24282c 73%);
  -webkit-filter: blur(4px);
          filter: blur(4px);
  border-radius: 30px;
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
  z-index: -1;
}

.header-button--toggle {
  background-image: url("../img/toggle-bg.svg");
  margin-left: 43px;
}

.header-button--profile {
  background-image: url("../img/profile.svg");
  margin-right: 43px;
}

.screen {
  width: 495px;
  height: 1076px;
  margin: 0 auto;
  padding-top: 43px;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
          justify-content: space-between;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#353A40), to(#16171B));
  background-image: -webkit-linear-gradient(top, #353A40 0%, #16171B 100%);
  background-image: linear-gradient(180deg, #353A40 0%, #16171B 100%);
  -webkit-filter: drop-shadow(0px 0px 100px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 0px 100px rgba(0, 0, 0, 0.15));
  border-radius: 60px;
  border: 1px solid #3F444C;
}

.screen__content {
  padding: 32px 40px;
  width: 495px;
  min-height: 931px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#353A40), to(#16171B));
  background-image: -webkit-linear-gradient(top, #353A40 0%, #16171B 100%);
  background-image: linear-gradient(180deg, #353A40 0%, #16171B 100%);
  border-radius: 60px;
  border: 1px solid #3F444C;
}

.screen__content-wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  margin-bottom: 66px;
}

.screen__content-title {
  margin-bottom: 8px;
}

.screen__content-text {
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  color: #7F8489;
}

.screen__content-desc {
  width: 156px;
}

.thermometer {
  position: relative;
  margin: 0 auto;
  width: 376px;
  height: 345px;
  margin-bottom: 56px;
  padding-top: 22px;
}

.thermometer__circle {
  position: relative;
  width: 323px;
  height: 323px;
  border-radius: 50%;
  border: 10px solid #171819;
  background-color: #191A1C;
  margin: 0 auto;
  background: -webkit-linear-gradient(131.79deg, #202428 14.05%, #131314 85.29%);
  background: linear-gradient(318.21deg, #202428 14.05%, #131314 85.29%);
  box-shadow: 20px 20px 70px #141415, -20px -20px 70px #485057;
}

.thermometer svg {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.svg-circle {
  position: absolute;
  top: 18px;
  right: 30px;
}

.thermometer__info {
  width: 90px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: "Gilroy", "Arial", sans-serif;
  text-align: center;
}

.thermometer__temp {
  display: block;
  font-weight: 900;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.01em;
}

.thermometer__text {
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 14px;
}

.thermometer__level {
  position: absolute;
  display: block;
  width: 2.6px;
  height: 14.6px;
  background-color: #15171C;
  border-left: 0.5px solid #535960;
  border-radius: 2px;
}

.thermometer__level--1 {
  bottom: 25px;
  left: 55px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.thermometer__level--2 {
  left: 4px;
  bottom: 150px;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.thermometer__level--3 {
  top: 50px;
  left: 50px;
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
}

.thermometer__level--4 {
  top: 0px;
  left: 185px;
}

.thermometer__level--5 {
  top: 50px;
  right: 55px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.thermometer__level--6 {
  right: 4px;
  bottom: 150px;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.thermometer__level--7 {
  bottom: 25px;
  right: 55px;
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
}

.thermometer__level--on {
  background-color: #0E9BEF;
  box-shadow: 0px 0px 10px #0A8ADA;
  border: none;
}

.mode {
  margin: 0 auto;
  width: 392px;
}

.mode__title {
  text-align: center;
  margin-bottom: 20px;
}

.mode__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: 75px 75px 75px 75px;
  grid-column-gap: 27px;
}

.mode__text {
  display: block;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #7F8489;
  margin-bottom: 10px;
}

.fan-speed {
  margin: 0 auto;
  width: 416px;
  margin-bottom: 65px;
}

.fan-speed__title {
  text-align: center;
  margin-bottom: 26px;
}

.fan-speed__container {
  position: relative;
  width: 100%;
  padding-top: 10px;
}

.fan-speed__progress-list {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0 4px;
  list-style: none;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #7F8489;
}

.fan-speed__range {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 100%;
  height: 9px;
  outline: none;
  background-color: #202226;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.75), inset -2px -2px 2px #4E5154;
  border-radius: 100px;
}

.fan-speed__range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 28px;
  height: 28px;
  background-color: transparent;
  background-image: url("../img/range.png");
  border-radius: 50%;
  cursor: pointer;
}

.fan-speed__range::-moz-range-thumb {
  width: 28px;
  height: 28px;
  background-color: transparent;
  background-image: url("../img/range.png");
  border-radius: 50%;
  cursor: pointer;
}
