.container {
	width: 320px;
	margin: 0 auto;
	padding: 0 10px;
}

@media (min-width: $tablet-width) {
	.container {
		width: 740px;
		padding: 0 10px;
	}
}

@media (min-width: $desktop-width) {
	.container {
		width: 1225px;
		padding: 0 25px;
		padding-left: 30px;
	}
}