.page-footer {
	border-top: 1px solid #E5E5E5;
	padding-top: 20px;
	padding-bottom: 10px;
	text-align: center;
	font-size: 12px;
	line-height: 14px;
	color: #8F8F8F;
}

.page-footer__copyright {
	margin: 0;
	margin-bottom: 15px;
}

.page-footer__policy {
	display: block;
	margin-bottom: 15px;
	color: #8F8F8F;
}

.page-footer__production {
	margin: 0;
	margin-bottom: 10px;
}

.page-footer__production a {
	color: #000000;
}

@media (min-width: $tablet-width) {
	.page-footer {
		text-align: left;
	}

	.page-footer__wrapper {
		display: flex;
	}

	.page-footer__copyright {
		margin-right: 30px;
		margin-bottom: 10px;
	}

	.page-footer__policy {
		margin-bottom: 0;
	}

	.page-footer__production {
		margin-left: auto;
		margin-bottom: 10px;
	}
}

@media (min-width: $desktop-width) {

}