* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@font-face {
  font-weight: 400;
  font-family: "Open Sans";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff");
}

@font-face {
  font-weight: 600;
  font-family: "Open Sans";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/OpenSans-SemiBold.woff") format("woff");
}

@font-face {
  font-weight: 400;
  font-family: Merriweather;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Merriweather-Regular.woff2") format("woff2"), url("../fonts/Merriweather-Regular.woff") format("woff");
}

@font-face {
  font-weight: 400;
  font-family: MyriadPro;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/MyriadPro-Regular.woff") format("woff");
}

@font-face {
  font-weight: 400;
  font-family: UbuntuCondensed;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/UbuntuCondensed-Regular.woff") format("woff");
}

body {
  font-family: 'Open Sans', sans-serif;
  min-width: 320px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: #2a2625;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  font-style: normal;
  background-image: url("../img/body-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

@-webkit-keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes mobile-menu-open {
  0% {
    -webkit-transform: translateX(320px);
            transform: translateX(320px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes mobile-menu-open {
  0% {
    -webkit-transform: translateX(320px);
            transform: translateX(320px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes mobile-menu-close {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(320px);
            transform: translateX(320px);
  }
}

@keyframes mobile-menu-close {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(320px);
            transform: translateX(320px);
  }
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section__title {
  font-family: Merriweather;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 35px;
  text-align: center;
}

@media (min-width: 768px) {
  .section__title {
    text-align: left;
  }
  .section__title {
    margin-left: 20px;
  }
  .page-main-news .section__title {
    margin-bottom: 50px;
  }
  .page-footer .section__title {
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .articles .section__title {
    margin-bottom: 40px;
  }
  .page-main-news .section__title,
  .page-news .section__title {
    margin-bottom: 45px;
  }
  .page-footer .section__title {
    text-align: left;
    margin-bottom: 60px;
  }
}

.page-header {
  position: relative;
}

.page-header__wrapper {
  background-color: #169fa8;
  color: #ffffff;
}

.page-header__container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 10px 20px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  align-items: center;
}

.page-header__bar {
  display: none;
}

.page-header__wrapper a {
  color: #ffffff;
}

@media (min-width: 1200px) {
  .page-header {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: start;
            justify-content: flex-start;
  }
  .page-header__container {
    width: 1150px;
    display: -webkit-box;
    justify-content: flex-start;
    padding: 0;
    margin: 0 auto;
  }
  .page-header__bar {
    display: -webkit-box;
    display: flex;
    color: #000000;
    font-size: 16px;
    line-height: 20px;
    width: 1075px;
    margin: 0 auto;
    padding: 10px 0;
    /*padding-top: 5px;*/
    align-items: center;
   /* -webkit-box-align: baseline;
            align-items: baseline;*/
  }
  .page-header__bar .bar__phone {
    margin-right: 48px;
  }
  .page-header__bar .bar__email {
    margin-right: 42px;
  }
  .page-header__bar .bar__search-container {
    margin-right: 127px;
  }
  .page-header__bar--mobile {
    display: none;
  }
}

.page-main-slider {
  margin-bottom: 30px;
}

.page-main-articles,
.page-main-news {
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .page-main-slider {
    margin-bottom: 50px;
  }
  .page-main-articles,
  .page-main-news {
    margin-bottom: 0px;
  }
}

.page-footer {
  width: 320px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 20px;
}

.page-footer__wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.logo-info__wrapper {
  width: 300px;
}

.page-footer__logo {
  width: 275px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

.page-footer__map {
  display: block;
}

.page-footer__map--mobile {
  width: 320px;
  height: 240px;
  margin: 0 auto;
}

.page-footer__map--desktop {
  display: none;
}

@media (min-width: 768px) {
  .page-footer {
    width: 700px;
    text-align: left;
  }
  .page-footer__logo {
    margin: 0;
    margin-bottom: 20px;
  }
  .page-footer__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-pack: justify;
            justify-content: space-between;
    flex-wrap: wrap;
  }
  .page-footer__map--mobile {
    display: none;
  }
  .page-footer__map--desktop {
    display: block;
    width: 400px;
    height: 300px;
    margin: 0 auto;
  }
  .page-footer__contacts {
    width: 260px;
  }
}

@media (min-width: 1200px) {
  .page-footer {
    width: 1180px;
    padding-bottom: 30px;
  }
  .page-footer__wrapper {
    -webkit-box-pack: start;
            justify-content: flex-start;
  }
  .logo-info__wrapper {
    margin-right: 80px;
  }
  .page-footer__logo {
    margin-bottom: 40px;
    margin-left: 10px;
  }
  .page-footer__contacts {
    margin-right: 120px;
  }
  .page-footer__map--desktop {
    margin: 0;
  }
  .page-footer__map {
    margin: 0;
  }
}

.main-nav {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600px;
}

.main-nav__container {
  position: absolute;
  display: block;
  background-color: #11adb7;
  text-align: center;
  height: 100vh;
  width: 320px;
  top: 45px;
  right: 0;
  z-index: 5;
}

.main-nav__container a {
  padding: 10px;
}

.main-nav--closed .main-nav__container {
  display: none;
}

.main-nav--opened .main-nav__container {
  display: block;
  -webkit-animation: mobile-menu-open 1s;
          animation: mobile-menu-open 1s;
}

.main-nav__toggle {
  font: inherit;
  color: #ffffff;
  padding-left: 25px;
  position: relative;
  display: block;
  margin-right: 20px;
  z-index: 2;
  display: block;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  border-bottom: 2px solid #ffffff;
  border-top: 2px solid #ffffff;
  top: 4px;
  left: 0;
  width: 18px;
  height: 8px;
  background-color: transparent;
}

.main-nav--closed .main-nav__toggle::after {
  content: "";
  position: absolute;
  border-bottom: 2px solid #ffffff;
  top: 16px;
  left: 0;
  width: 18px;
  height: 0px;
  background-color: transparent;
}

.main-nav--opened .main-nav__toggle::before,
.main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 23px;
  height: 3px;
  background-color: #ffffff;
}

.main-nav--opened .main-nav__toggle::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.main-nav--opened .main-nav__toggle::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media (min-width: 768px) {
  .main-nav__container {
    top:67px;
  }
}

@media (min-width: 1200px) {
  .main-nav__toggle {
    display: none;
  }
  .main-nav--closed .main-nav__container,
  .main-nav--opened .main-nav__container {
    position: static;
    display: block;
    text-align: left;
    height: auto;
    width: auto;
  }
  .main-nav__container {
    background-color: transparent;
  }
}

.equipment-nav {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600px;
}

.equipment-nav__wrapper {
  display: block;
  position: absolute;
  width: 320px;
  background-color: #11adb7;
  top: 45px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 5;
  font-size: 16px;
  line-height: 36px;
  color: #ffffff;
}

.equipment-nav__wrapper a {
  color: #ffffff;
}

.by-direction__list-item a:hover,
.by-category__list-item a:hover {
  color: #d9fdff;
}

.equipment-nav__filter {
  padding: 10px 0;
  background-color: #11adb7;
  cursor: pointer;
  padding-left: 10px;
}

.equipment-nav__filter-item {
  cursor: pointer;
  border-bottom: 1px dotted #ffffff;
}

.equipment-nav__filter-item--active {
  border-bottom:none;
}

.equipment-nav__list--closed {
  display: none;
}

.equipment-nav__list--active {
  display: block;
}

.equipment-nav__wrapper--closed {
  display: none;
}

.equipment-nav__wrapper--opened {
  display: block;
}

.equipment-nav__toggle {
  position: relative;
  display: block;
  padding-left: 30px;
  background-color: transparent;
}

.equipment-nav__toggle--open::before {
  content: "";
  position: absolute;
  border-bottom: 2px solid #ffffff;
  border-top: 2px solid #ffffff;
  top: 4px;
  left: 0;
  width: 18px;
  height: 8px;
  background-color: transparent;
}

.equipment-nav__toggle--open::after {
  content: "";
  position: absolute;
  border-bottom: 2px solid #ffffff;
  top: 16px;
  left: 0;
  width: 18px;
  height: 0px;
  background-color: transparent;
}

.equipment-nav__toggle--close::before,
.equipment-nav__toggle--close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0px;
  width: 23px;
  height: 3px;
  background-color: #ffffff;
}

.equipment-nav__toggle--close::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.equipment-nav__toggle--close::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.equipment-nav__list {
  list-style: none;
  padding-left: 10px;
  width: 470px;
  background-color: #169fa8;
}

.by-category__list-item,
.by-direction__list-item {
  border-bottom: 1px solid #11adb7;
}

.equipment-nav__slider {
  overflow: hidden;
}

.equipment-nav__list-wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
  width: 640px;
}

@media (min-width: 768px) {
  .equipment-nav__wrapper {
    top:67px;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
}

@media (min-width: 1200px) {
  .equipment-nav__toggle {
    padding: 40px 20px 30px 45px;
    margin-right: 70px;
    width: 185px;
  }
  .equipment-nav__toggle:hover,
  .equipment-nav__toggle:focus,
  .equipment-nav__toggle:active {
    background-color: #11adb7;
  }
  .equipment-nav__toggle--open::before {
    top: 43px;
    left: 20px;
  }

  .equipment-nav__toggle--open::after {
    top: 55px;
    left: 20px;
  }

  .equipment-nav__toggle--close::before,
  .equipment-nav__toggle--close::after {
    top: 48px;
    left: 20px;
  }
  .equipment-nav__wrapper {
    width: 1115px;
    top: 139px;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .equipment-nav__filter br {
    display: none;
  }

  .equipment-nav__filter {
    padding-left: 45px;
  }

  .equipment-nav__slider {
    width: 470px;
  }

  .equipment-nav__list-wrapper {
    width: 940px;
  }

  .equipment-nav__list {
    width: 470px;
    padding-left: 45px;
  }
}

.main-list {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  list-style: none;
}

.main-list__item {
  position: relative;
}

.main-list__item a {
  display: block;
  background-color: transparent;
}

.main-list__item a:hover,
.main-list__item a:focus,
.main-list__item a:active {
  background-color: #11adb7;
}

.main-list__item:hover a {
  background-color: #11adb7;
}

@media (min-width: 1200px) {
  .main-list {
    width: 500px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-pack: justify;
            justify-content: space-between;
    margin-left: auto;
  }
  .main-list__item > a {
    padding: 40px 20px;
    padding-bottom: 30px;
  }
}

/*sub-menu.scss*/
.sub-menu, .sub-menu--level2 {
  position: absolute;
  list-style: none;
  display: none;
  z-index: 1;
  background-color: #11adb7;
}

/*.main-list__item:hover .sub-menu {
  display: block;
  left: 50%;
  top: 45px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
}*/

.main-list .sub-menu {
  left: 50%;
  top: 45px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
}

.by-direction__list-item--arrow > .sub-menu {
  left: 470px;
  top: 53px;
  padding-left: 38px;
  width: 335px;
}

.by-category__list-item--arrow > .sub-menu {
  left: 940px;
  top: 53px;
  padding-left: 38px;
  width: 335px;
}

.sub-menu__item a:hover {
  color: #d9fdff;
}

.sub-menu__item > .sub-menu--level2 {
  left: 340px;
  top: 0px;
  padding-left: 30px;
}

.sub-menu__item--arrow,
.by-direction__list-item--arrow,
.by-category__list-item--arrow {
  background-image: url("../img/arrow.png");
  background-repeat: no-repeat;
}

.sub-menu__item--arrow:hover,
.by-direction__list-item--arrow:hover,
.by-category__list-item--arrow:hover {
  background-image: url("../img/arrow-hover.png");
}

.sub-menu__item--arrow {
  background-position: 280px center;
}

.by-direction__list-item--arrow,
.by-category__list-item--arrow {
  background-position: 290px center;
}

@media (min-width: 1200px) {
  .main-list__item--about .sub-menu {
    left: -31px;
    top: 86px;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    width:200px;
  }
  .main-list__item--services {
    width: 130px;
    text-align: center;
  }

  .main-list__item--services .sub-menu {
    text-align: left;
  }

  .main-list__item--services .sub-menu {
    left: -90px;
    top: 86px;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    width:310px;
  }
  .by-direction__list-item--arrow,
  .by-category__list-item--arrow {
    background-position: 400px center;
  }
}

.logo__image {
  display: block;
  width: 26px;
  height: 26px;
}

.logo__name {
  display: none;
}

.page-footer__logo .logo__name {
  display: block;
  font-family: Merriweather;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 24px;
  font-weight: 300;
  color: #000000;
}

@media (min-width: 768px) {
  .logo {
    width: 275px;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
            align-items: center;
  }
  .logo__name {
    display: block;
    margin-top: 10px;
  }
}

@media (min-width: 1200px) {
  .page-header__logo.logo {
    margin-right: 150px;
  }
  .logo__image {
    flex-shrink: 0;
    margin-right: 15px;
  }
}

.bar__email {
  text-decoration: underline;
  padding: 10px;
  display: block;
  color:#000000;
}

.bar__search {
  display: block;
  font: inherit;
  width: 300px;
  margin: 0 auto;
  outline: none;
  border: none;
  background-image: url(../img/search.png);
  background-repeat: no-repeat;
  background-position: 270px center;
  padding: 10px;
}

.bar__search::-ms-clear {
  display: none;
}

.bar__search::-webkit-input-placeholder {
  color: #8c8a89;
  font-size: 14px;
  line-height: 24px;
}

.bar__search::-moz-placeholder {
  color: #8c8a89;
  font-size: 14px;
  line-height: 24px;
}

.bar__search:-ms-input-placeholder {
  color: #8c8a89;
  font-size: 14px;
  line-height: 24px;
}

.bar__search::-ms-input-placeholder {
  color: #8c8a89;
  font-size: 14px;
  line-height: 24px;
}

.bar__search::placeholder {
  color: #8c8a89;
  font-size: 14px;
  line-height: 24px;
}

.bar__button {
  display: block;
  border-bottom: 1px dotted #32b9c1;
  color: #ffffff;
}

@media (min-width: 1200px) {
  .bar__email {
    padding: 0px;
  }
  .bar__phone {
    color: #000000;
  }

  .bar__search {
    width: 365px;
    margin: 0;
    padding: 6px 20px;
    padding-top: 8px;
    background-position: 333px center;
  }
  .bar__button {
    color: #000000;
  }
}

.page-main-slider.slider {
  position: relative;
}

.slider__container {
  width: 320px;
  margin: 0 auto;
}

.slider__list-wrapper {
  width: 100%;
  overflow-x: hidden;
}

.slider__list {
  width: 300%;
  height: 300px;
  display: -webkit-box;
  display: flex;
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
}

.slider__list-item {
  width: 100%;
}

.slide-1 {
  background-image: url("../img/slider-bg-1-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.slide-2 {
  background-image: url("../img/slider-bg-1-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.slide-3 {
  background-image: url("../img/slider-bg-1-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.slider__content {
  display: block;
  width: 300px;
  margin: 0px auto;
  margin-top: 30px;
  padding: 10px;
  background-color: #ffffff;
}

.slider__content span,
.slider__content br {
  display: none;
}

.slider__content-title {
  font-family: MyriadPro;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400px;
  color: #2a2625;
  margin-bottom: 10px;
  text-align: center;
}

.slider__content-desc {
  color: #50b7be;
  font-weight: 600;
  font-size: 12px;
}

.page-main-slider .slider__toggles {
  width: 70px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.page-main-slider .slider__toggle {
  display: inline-block;
  width: 7px;
  height: 7px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-right: 20px;
  vertical-align: center;
  background-color: #ffffff;
  cursor: pointer;
  outline: none;
  border: none;
}

.page-main-slider .slider__toggle:last-of-type {
  margin-right: 0px;
}

.page-main-slider .slider__toggle:hover,
.page-main-slider .slider__toggle:focus {
  background-color: #169fa8;
}

.page-main-slider .slider__toggle--active {
  background-color: #169fa8;
}

@media (min-width: 768px) {
  .slider__container {
    width: 700px;
  }
  .slider__list {
    height: 500px;
  }
  .slide-1 {
    background-image: url("../img/slider-bg-1.jpg");
  }
  .slide-2 {
    background-image: url("../img/slider-bg-1.jpg");
  }
  .slide-3 {
    background-image: url("../img/slider-bg-1.jpg");
  }
  .slider__content {
    width: 400px;
    margin: 0;
    margin-top: 60px;
    padding: 20px;
  }
  .slider__content-title {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 20px;
    text-align: left;
  }
  .slider__content-desc {
    font-size: 14px;
    line-height: 18px;
  }
  .page-main-slider .slider__toggles {
    width: 310px;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    left: 50%;
    bottom: 7%;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
  }
  .page-main-slider .slider__toggle {
    width: 88px;
    height: 88px;
    border: 4px solid #169fa8;
    -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
            transform: rotate(0);
    margin-right: 0;
  }
  .page-main-slider .slider__toggle:hover,
  .page-main-slider .slider__toggle:focus {
    background-color: transparent;
  }
  .page-main-slider .slider__toggle:hover,
  .page-main-slider .slider__toggle:focus {
    border-color: #ffffff;
  }
  .page-main-slider .slider__toggle--active {
    background-color: transparent;
    border-color: #ffffff;
  }
  .page-main-slider .slider__toggle:first-of-type {
    background-image: url("../img/slider-toggle-1.jpg");
  }
  .page-main-slider .slider__toggle:nth-of-type(2) {
    background-image: url("../img/slider-toggle-2.jpg");
  }
  .page-main-slider .slider__toggle:last-of-type {
    background-image: url("../img/slider-toggle-3.jpg");
  }
}

@media (min-width: 1200px) {
  .slider__container {
    width: 1150px;
  }
  .slider__list {
    height: 560px;
  }
  .slider__content {
    width: 640px;
    margin: 0;
    margin-top: 88px;
    padding: 25px 30px;
    padding-bottom: 35px;
  }
  .slider__content span,
  .slider__content br {
    display: inline;
  }
  .slider__content-title {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 23px;
  }
  .page-main-slider .slider__toggles {
    left: 65%;
  }
}

.catalog__wrapper {
  width: 320px;
  margin: 0 auto;
}

.catalog__list {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  color: #322e2d;
  margin-bottom: 20px;
}

.catalog-item {
  position: relative;
  width: 222px;
  min-height: 345px;
  background-color: #ffffff;
  border: 1px solid transparent;
  padding: 10px;
  padding-top: 40px;
  padding-right: 14px;
  margin: 0 auto;
  margin-bottom: 20px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.catalog-item__img {
  display: block;
  align-self: center;
  margin-bottom: 35px;
}

.catalog-item__title {
  margin-bottom: 4px;
}

.catalog-item__manufacter {
  min-height: 80px;
}

.catalog-item__manufacter a {
  display: block;
  color: #50b7be;
  font-size: 16px;
  text-decoration: underline;
  margin-bottom: 10px;
}

.catalog-item__manufacter a:hover {
  color: #169fa8;
}

.catalog-item__btn,
.catalog-item__price-wrapper {
  margin-top:auto;
}

.catalog-item:hover .catalog-item__btn,
.catalog-item:hover .catalog-item__price-wrapper {
  transform: translateY(-1px);
}

.catalog-item__price-wrapper {
  position: absolute;
  width:195px;
  display: flex;
  justify-content: space-between;
  bottom: 10px;
  left:10px;
}

.catalog-item__btn {
  text-align: center;
  position: relative;
  width:165px;
}

.catalog-item__btn::before {
  content: "";
  position: absolute;
  display: block;
  width: 29px;
  height: 29px;
  border-radius: 50%;
  right: -30px;
  bottom: 0px;
  background-color: #ececec;
}

.catalog-item__btn::after {
  content: "";
  position: absolute;
  display: block;
  width: 29px;
  height: 29px;
  right: -30px;
  bottom: 0px;
  background-image: url("../img/ask-doc.png");
  background-repeat: no-repeat;
  background-position: center;
}

.catalog-item__btn a {
  color: #322e2d;
  border-bottom: 1px dotted #32b9c1;
}

.catalog-item__price-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.catalog-item__add-to-cart {
  position: relative;
  display: block;
  width: 29px;
  height: 29px;
}

.catalog-item__add-to-cart::before {
  content: "";
  position: absolute;
  display: block;
  width: 29px;
  height: 29px;
  border-radius: 50%;
  right: 0px;
  bottom: 0px;
  background-color: #ececec;
}

.catalog-item__add-to-cart::after {
  content: "";
  position: absolute;
  display: block;
  width: 29px;
  height: 29px;
  right: 0px;
  bottom: 0px;
  background-image: url("../img/add-cart.png");
  background-repeat: no-repeat;
  background-position: center;
}

.catalog-item__desc {
  display: none;
}

.catalog-item:hover {
  border: 1px solid #d1d1d1;
  border-bottom: none;
  box-shadow: 0px 0px 5px 0px rgba(50, 185, 193, 0.52);
}

.catalog-item--with-desc:hover::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5px;
  width: 220px;
  background-color: #ffffff;
  z-index: 3;
}

.catalog-item--with-desc:hover > .catalog-item__desc {
  display: block;
  width: 222px;
  background-color: #ffffff;
  position: absolute;
  z-index: 1;
  left: -1px;
  top:100%;
  padding: 0 15px 15px 15px;
  border: 1px solid #d1d1d1;
  border-top: none;
  box-shadow: 0px 0px 5px 0px rgba(50, 185, 193, 0.52);
}

@media (min-width: 768px) {
  .catalog__wrapper {
    width: 740px;
  }
  .catalog__list {
    margin-bottom: 30px;
  }
  .catalog-item {
    margin: 0;
    margin-right: 17px;
    margin-bottom: 40px;
  }
  .catalog-item:nth-of-type(3n) {
    margin-right: 0px;
  }
}

@media (min-width: 1200px) {
  .catalog__wrapper {
    width: 1180px;
  }
  .catalog__list {
    margin-bottom: 35px;
  }
  .catalog-item:nth-of-type(3n) {
    margin-right: 17px;
  }
  .catalog-item:nth-of-type(5n) {
    margin-right: 0px;
  }
}

.articles-news-wrapper {
  width: 320px;
  margin: 0 auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

@media (min-width: 768px) {
  .articles-news-wrapper {
    width: 740px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-pack: justify;
            justify-content: space-between;
    margin-bottom: 20px;
  }
}

@media (min-width: 1200px) {
  .articles-news-wrapper {
    width: 1180px;
    margin-bottom: 55px;
  }
}

.article__item {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.article__title {
  color: #48afb6;
  text-decoration: underline;
  display: block;
}

.article__title:hover {
  color: #169fa8;
}

.article__img {
  margin-right: 10px;
  width: 38px;
  height: 38px;
  flex-shrink: 0;
}

.article__item--disabled .article__title {
  color: #8b8b8b;
  cursor: auto;
  text-decoration: line-through;
}

@media (min-width: 768px) {
  .article__img {
    width: 140px;
    height: 140px;
  }
  .article__title {
    margin-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  .article__item {
    width: 750px;
    margin-bottom: 30px;
    min-height: 140px;
  }
  .article__content {
    margin-top: 5px;
  }
  .article__title {
    font-size: 16px;
    line-height: 24px;
  }
}

.news__list {
  list-style: none;
  width: 300px;
  margin: 0 auto;
}

.news__item {
  margin-bottom: 20px;
}

.news__list-item {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.news__item-title {
  display: block;
  color: #48afb6;
  text-decoration: underline;
}

.news__item-title:hover {
  color: #169fa8;
}

.news__item-date {
  color: #646362;
}

@media (min-width: 768px) {
  .news__list {
    margin: 0;
  }
}

@media (min-width: 1200px) {
  .news__item {
    margin-bottom: 30px;
  }
  .news__list {
    width: 310px;
  }
  .news__item-title {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 10px;
  }
}

.manufacturers-slider {
  margin-bottom: 30px;
}

.manufacturers-slider__title-wrapper {
  width: 320px;
  margin: 0 auto;
}

.manufacturers-slider__list-wrapper {
  background-color: #ffffff;
}

.manufacturers-slider__list {
  list-style: none;
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
  width: 2000px;
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
}

.manufacturers-slider__list-container {
  width: 320px;
  margin: 0 auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between;
  padding: 10px 0px 5px 0;
}

.manufacturers-slider__wrap {
  overflow: hidden;
  width: 200px;
}

.manufacturers-slider__btn {
  position: relative;
  border: none;
  outline: none;
}

.manufacturers-slider__btn::before {
  content: "";
  position: absolute;
  display: block;
  cursor: pointer;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  top: -20px;
  left: 0;
}

.manufacturers-slider__btn--left::before {
  border-right-color: #169fa8;
  border-left: 0;
}

.manufacturers-slider__btn--right::before {
  border-left-color: #169fa8;
  border-right: 0;
}

.manufacturers-slider__btn--left:hover::before {
  border-right-color: #50b7be;
}

.manufacturers-slider__btn--right:hover::before {
  border-left-color: #50b7be;
}

.disabled.manufacturers-slider__btn--left::before {
  border-right-color: #ececec;
}

.disabled.manufacturers-slider__btn--left:hover::before {
  border-right-color: #ececec;
  cursor: auto;
}

.disabled.manufacturers-slider__btn--right::before {
  border-left-color: #ececec;
}

.disabled.manufacturers-slider__btn--right:hover::before {
  border-left-color: #ececec;
  cursor: auto;
}

@media (min-width: 768px) {
  .manufacturers-slider__title-wrapper {
    width: 700px;
  }
  .manufacturers-slider__list-container {
    width: 700px;
  }
  .manufacturers-slider__wrap {
    width: 600px;
    padding: 20px 0px;
  }
}

@media (min-width: 1200px) {
  .manufacturers-slider {
    margin-bottom: 75px;
  }
  .manufacturers-slider__title-wrapper {
    width: 1180px;
  }
  .manufacturers-slider__list-container {
    width: 1180px;
    padding: 30px 30px;
    padding-bottom: 15px;
  }
  .manufacturers-slider__wrap {
    width: 1000px;
  }
}

.info__p {
  margin-bottom: 10px;
}

@media (min-width: 1200px) {
  .info__p {
    margin-bottom: 15px;
  }
}

.contacts {
  color: #000000;
  margin-bottom: 10px;
}

.contacts__btn {
  display: block;
  margin: 0 auto;
  color: #322e2d;
  font-size: 18px;
  line-height: 24px;
  border-bottom: 1px dotted #32b9c1;
  width: 160px;
  margin-bottom: 10px;
}

.contacts__phone {
  display: block;
  color: #000000;
  margin-bottom: 10px;
}

.contacts__email {
  width: 150px;
  display: block;
  color:#000000;
  border-bottom: 1px solid #000000;
  margin: 0 auto;
}

.contacts__email, .contacts__time, .contacts__social {
  margin-bottom: 10px;
}

.contacts__copyright {
  text-decoration: underline;
  color: #000000;
}

.contacts__social {
  width: 125px;
  margin: 0 auto;
}

.contacts__social a {
  display: inline-block;
  background-color: #ffffff;
}

.contacts__social-liveinternet {
  width: 30px;
  height: 30px;
}

.contacts__social-metrika {
  width: 90px;
  height: 30px;
}

@media (min-width: 768px) {
  .contacts {
    margin-bottom: 0;
  }
  .contacts__social, .contacts__email, .contacts__btn {
    margin: 0;
    margin-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  .contacts__btn {
    margin-bottom: 35px;
  }
  .contacts__phone {
    margin-bottom: 25px;
  }
  .contacts__email, .contacts__social {
    margin-bottom: 20px;
  }
  .contacts__time {
    margin-bottom: 30px;
  }
}

.pagination {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.pagination__wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: baseline;
          align-items: baseline;
}

.pagination__wrapper span {
  margin-right: 13px;
}

.pagination-item {
  display: inline-block;
}

.pagination-item a {
  display: block;
  width: 28px;
  height: 28px;
  margin-right: 10px;
  color: #ffffff;
  text-decoration: underline;
  background-color: #11adb7;
  text-align: center;
  padding-top: 4px;
}

.pagination-item-current a {
  text-decoration: none;
  background-color: #8a8a8a;
}

@media (min-width: 768px) {
  .pagination {
    width: 700px;
  }
}

@media (min-width: 1200px) {
  .pagination {
    width: 1180px;
    margin-bottom: 90px;
  }
}

.page-news__container {
  width: 320px;
  margin: 0 auto;
}

.page-news .articles {
  width: 320px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .page-news__container {
    width: 700px;
  }
  .page-news .articles {
    width: 700px;
    margin-bottom: 30px;
  }
  .page-news .articles__wrapper {
    width: 700px;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }
}

@media (min-width: 1200px) {
  .page-news__container {
    width: 1180px;
  }
  .page-news .articles {
    width: 1180px;
    margin-bottom: 50px;
  }
  .page-news .articles--2 {
    margin-bottom: 35px;
  }
  .page-news .articles__wrapper {
    width: 545px;
    max-height: 700px;
  }
  .page-news .articles__wrapper--2 {
    max-height: 350px;
  }
  .page-news .article__item {
    width: 545px;
  }
  .page-news .article__item:first-of-type,
  .page-news .article__item:nth-of-type(2),
  .page-news .article__item:nth-of-type(3),
  .page-news .article__item:nth-of-type(4) {
    margin-right: 100px;
  }
  .page-news .catalog {
    margin-bottom: 80px;
  }
}

.promo-slider {
  margin: 15px 0 5px 0;
}

.promo-slider__wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  width: 320px;
  margin: 0 auto;
}

.promo-slider__list {
  list-style: none;
  width: 320px;
  font-family: UbuntuCondensed, sans-serif;
  font-weight: 400;
}

.promo-slider__name {
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.promo-slider__info {
  font-size: 18px;
  line-height: 24px;
}

.promo-slider__info span {
  color: #169fa8;
}

#promo-slide1,
#promo-slide2,
#promo-slide3 {
  background-repeat: no-repeat;
  background-position: center;
}

#promo-slide1 {
  background-image: url(../img/promo-slider-mob-1.png);
}

#promo-slide2 {
  background-image: url(../img/promo-slider-mob-1.png);
}

#promo-slide3 {
  background-image: url(../img/promo-slider-mob-1.png);
}

.promo-slider__list-item {
  display: none;
  -webkit-animation: appear 2s;
          animation: appear 2s;
  padding: 10px;
}

.promo-slider__toggles {
  width: 60px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.promo-slider__toggle {
  border: none;
  outline: none;
  display: block;
  width: 15px;
  height: 15px;
  background-color: #169fa8;
  margin-top: 12px;
}

.promo-slider__toggle:hover, .promo-slider__toggle--active {
  background-color: #ffffff;
}

@media (min-width: 768px) {
  .promo-slider__wrapper {
    width: 700px;
  }
  .promo-slider__list {
    width: 700px;
  }
  .promo-slider__list-item {
    height: 97px;
    padding: 15px 30px 15px 30px;
  }
  #promo-slide1 {
    background-image: url(../img/promo-slider-1.png);
  }
  #promo-slide2 {
    background-image: url(../img/promo-slider-1.png);
  }
  #promo-slide3 {
    background-image: url(../img/promo-slider-1.png);
  }
}

@media (min-width: 1200px) {
  .promo-slider__wrapper {
    width: 1180px;
  }
  .promo-slider__list {
    width: 1180px;
  }
  .promo-slider__toggles {
    align-self: flex-end;
  }
}

.breadcrumbs {
  list-style: none;
  display: -webkit-box;
  display: flex;
  font-size: 16px;
  margin-bottom: 20px;
}

.breadcrumbs a {
  display: block;
  text-decoration: underline;
  color: #4db4bb;
  margin-right: 30px;
}

@media (min-width: 1200px) {
  .breadcrumbs {
    margin-left: 20px;
  }
}

/*search-help.scss*/

.bar__search-container {
  display: block;
  margin:0 auto;
  width: 300px;
  height: 35px;
  position: relative;
}

.search-help {
  position: absolute;
  width: 300px;
  left:0;
  top:35px;
  padding: 5px 15px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  z-index: 5;
}

.search-help a {
  text-decoration: underline;
}

.search-help > a {
  color:#000000;
}

.search-help__wrapper {
  margin-left:auto;
  width: 200px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.search-help__wrapper a {
  color:#322e2d;
  cursor: pointer;
}

.search-help__btn {
  outline: none;
  cursor: pointer;
  font:inherit;
  color:#322e2d;
  border:none;
  text-decoration: underline;
  background-color: transparent;
}

@media (min-width: 1200px) {
  .search-help {
    width: 365px;
    padding: 10px 20px;
  }

  .search-help > a {
    margin-bottom: 10px;
  }

  .search-help__wrapper {
    margin-top: 8px;
  }
}

/*equipment-nav__wrapper--news*/

/*modal.scss */

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.overlay-show {
  display: block;
}

.modal {
  display: none;
  position: fixed;
  width: 320px;
  height: 390px;
  top: 50%;
  left: 50%;
  margin-left: -160px;
  margin-top: -195px;
  z-index: 20;
  background-color: #ffffff;
  padding: 20px;
}

.modal.modal-page {
  display: block;
}

.modal-show {
  display: block;
  animation: bounce 0.6s;
}

.modal-close {
  position: absolute;
  top:15px;
  right:15px;
  
  width: 11px;
  height: 11px;

  font-size: 0;

  background-color: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
} 

.modal-close::before,
.modal-close::after {
  content: "";

  position: absolute;
  top: 0px;
  left: 2px;

  width: 12px;
  height: 2px;

  background-color: #102b4d;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.consultation-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal input {
  width: 260px;
  padding:7px 10px;
  background-color: #f3f3f3;
  border:3px solid #a5a5a5;
}

.modal p {
  width: 260px;
  margin:0 auto;
  margin-bottom: 10px;
}

.modal input::placeholder, 
.modal textarea {
  font:inherit;
  color:#322e2d;
}

.modal textarea {
  width: 260px;
  height:75px;
  border:3px solid #a5a5a5;
  margin:0 auto;
  padding: 5px;
  margin-bottom: 15px;
}

.modal input:hover,
.modal input:focus,
.modal textarea:hover,
.modal textarea:focus {
  border:3px solid #169fa8;
  outline: none;
}

.modal__title {
  font-family: MerriWeather;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 25px;
}

.modal-send {
  display: block;
  width: 200px;
  height:35px;
  border:0;
  background-color:#169fa8;
  padding: 10px 0;
  text-align: center;
  color:#ffffff;
  outline: none;
  cursor: pointer;
}

@media (min-width: 1200px) {
  .modal {
    width: 540px;
    height: 328px;
    margin-left: -270px;
    margin-top: -164px;
    padding: 25px 30px;
  }

  .modal textarea {
    width: 480px;
    height:75px;
    padding: 5px 10px;
    margin-bottom: 25px;
  }

  .consultation-form {
    width: 480px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .modal__title {
    text-align: left;
  }

  .modal input {
    width: 225px;
  }

  .modal p {
    width: 225px;
    margin-right: 30px;
    margin-bottom: 17px;
  }

  .modal p:nth-of-type(2n) {
    margin-right: 0;
  }

  .modal-close {
    top: 30px;
    right: 33px;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }
  70% {
    transform: translateY(30px);
  }
  90% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

/*static-section */

.static-section {
  margin-bottom: 30px;
}

.static-section__wrapper {
  width:320px;
  margin:0 auto;
}

.static-section__p {
  margin-bottom: 20px;
}

.static-section__list {
  list-style: none;
  margin-bottom: 25px;
}

.static-section__list-item {
  position: relative;
  padding-left:20px;
  margin-bottom: 5px;
}

.static-section__list-item:last-of-type {
  margin-bottom: 0px;
}

.static-section__list-item::before {
  content:"";
  position: absolute;
  display: block;
  background-color:#20b2bb;
  top:7px;
  left:0;
  width:15px;
  height: 5px;
}

.static-section__table td {
  border:1px solid #000000;
  padding:5px;
}

.static-section__table {
  width:100%;
  border:2px solid #8a8a8a;
  border-collapse:collapse;
}

@media (min-width: 768px) {
  .static-section {
    margin-bottom:40px;
  }

  .static-section__wrapper {
    width:700px;
  }

  .static-section__table td{
    padding:15px 10px;
  }
}

@media (min-width: 1200px) {

  .static-section {
    margin-bottom:65px;
  }

  .static-section__wrapper {
    width:1180px;
  }

  .static-section__p {
  margin-bottom: 30px;
}
}



