.information__main-picture {
	display: block;
	margin: 0 auto;
	margin-bottom: 26px;
}

.information__wrapper {
    width: 375px;
	padding: 0 20px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 35px;
}

.information__name-wrap {
	width: 150px;
	margin-right: 85px;
	margin-bottom: 27px;
}

.information__name {
	margin: 0;
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 2px;
}

.information__prof {
	margin: 0;
	line-height: 17px;
	color: #4C4C4C;
}

.information__election-day {
	margin: 0;
	font-weight: 500;
	font-size: 10px;
	line-height: 13px;
	text-transform: uppercase;
	letter-spacing: 0.5px;
}

.information__date {
	margin: 0;
	font-weight: bold;
	font-size: 14px;
	line-height: 20px;
}

.information__left {
	margin: 0;
	line-height: 15px;
}

.information__date-wrap {
	width: 100px;
	margin-bottom: 27px;
	text-align: right;
	padding-top: 5px;
}

.information__sum-wrap {
	width: 335px;
	margin-bottom: 32px;
}

.information__sum {
	font-weight: bold;
	font-size: 28px;
	line-height: 36px;
	margin: 0;
	margin-bottom: 3px;
}

.information__count {
	display: block;
	line-height: 15px;
	color: #4C4C4C;
	margin-bottom: 10px;
}

.information__goal-wrap {
	display: flex;
	justify-content: space-between;
}

.information__goal {
	line-height: 15px;
	color: #4C4C4C;
	margin: 0;
}

.information__period {
	line-height: 15px;
	color: #4C4C4C;
	margin: 0;
}

.information__donate-btn {
	display: block;
	background-color: transparent;
	border:none;
	font-weight: 500;
	font-size: 14px;
	line-height: 21px;
	text-transform: uppercase;
	width: 335px;
	padding: 10px;
	background-color: #FF4778;
	border-radius: 100px;
	color: #ffffff;
	margin-bottom: 22px;
	cursor: pointer;
}

.information__button {
	display: block;
	background-color: transparent;
	border: 1px solid #6F36BC;
	box-shadow: 0px 4px 8px rgba(27, 225, 175, 0.16);
	font-weight: 500;
	font-size: 11px;
	color: #6F36BC;
	width: 160px;
	padding: 10px;
	padding-top: 7px;
	padding-bottom: 9px;
	margin-right: 15px;
	border-radius: 100px;
	text-transform: uppercase;
	cursor: pointer;
	&:last-of-type {
		margin-right: 0;
	}
}

.information__progress {
	display: block;
	width: 100%;
	height: 6px;
	border: none;
	margin-bottom: 10px;
}

.information__progress::-webkit-progress-bar {
    border-radius: 100px;
    background-color: #F0F0F0;
}
.information__progress::-webkit-progress-value {
    border-radius: 100px;
    background-color: #2ACBA5;
}
.information__progress::-moz-progress-bar {
    border-radius: 100px;
    background-color: #2ACBA5;
}

@media (min-width: $desktop-width) {
	.information {
		width: 1105px;
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 3px;
	}

	.information__main-picture {
		margin: 0;
		width: 727px;
		height: 303px;
	}

	.information__wrapper {
		margin: 0;
		padding: 0;
		padding-left: 30px;
	}

	.information__name-wrap {
		margin-right: 70px;
		width: 172px;
		margin-bottom: 40px;
	}

	.information__name {
		font-size: 18px;
		line-height: 23px;
	}

	.information__prof {
		font-size: 14px;
		line-height: 20px;
	}
	
	.information__election-day {
		font-size: 12px;
		line-height: 15px;
		margin-bottom: 2px;
	}

	.information__button {
		font-size: 12px;
	}

}