.page-main__title-wrap {
	margin-top: 24px;
	margin-bottom: 19px;
}

.page-main__title {
	font-weight: bold;
	font-size: 28px;
	line-height: 39px;
	margin:0;
}

.page-main__title span {
	padding-left: 12px;
}

@media (min-width: $desktop-width) {
	.page-main {
		padding: 41px 0 50px 0;
		background-color: #FAFAFA;
		border-top: 1px solid #ECECEC;

	}

	.page-main__title {
		font-size: 36px;
		line-height: 50px;
		margin-bottom:31px;
	}

	.page-main__title span {
		display: none;
	}
}

