.about {
	position: relative;
	padding-left: 5.99vw;
	display: flex;
	flex-wrap: wrap;
	&::before {
		content: "";
		position: absolute;
		display: block;
		width:19.11vw;
		height:17.71vw;
		left: -3vw;
		top: -4vw;
		background-image:url("../img/cloud-1.png");
		background-repeat :no-repeat;
		background-size: contain;
		z-index: -1;
		animation: parallax 5000ms linear 0ms infinite normal both;
	}
}

.about__p {
	margin: 0;
	margin-right: 38.54vw;
	margin-bottom: 3.12vw;
	width: 35.67vw;
	font-size: 2.5vw;
	line-height: 2.86vw;
}

.about__p span {
	font-weight: 500;
}

.about__list {
	margin: 0;
	padding: 0;
	list-style: none;
	margin-bottom: 3.12vw;
}

.about__item {
	position: relative;
	padding-left: 2.08vw;
	font-size: 0.94vw;
	line-height: 1.87vw;
	&::before {
		content: "";
		position: absolute;
		display: block;
		left: 0.42vw;
		top: 0.5vw;
		width: 0.83vw;
		height: 0.83vw;
		background-color: #ef9499;
		border: 0.21vw solid #ffffff;
		border-radius: 50%;
		box-shadow: 0px 1px 13px 0px rgba(239, 148, 153, 0.38);
	}
}

.about__button {
	display: block;
	position: relative;
	width: 19.79vw;
	font-size: 0.73vw;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	padding-left: 2.34vw;
	padding-right: 7.81vw;
	padding-top: 1.1vw;
	padding-bottom: 1.2vw;
	font-weight: 700;
	color: #ffffff;
	border-radius: 2.24vw;
	background-color: #f5a2a6;
  	box-shadow: inset 0px -0.26vw 0px 0px #f08c92, 0px 7px 27px 0px rgba(241, 131, 131, 0.57);
	border-bottom: 0.26vw solid #d7747a;
	&::after {
		content: "";
		position: absolute;
		display: block;
		right: -6.77vw;
		bottom: 0.3vw;
		width: 14.22vw;
		height: 3.85vw;
		background-image: url("../img/leaves.png");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: 0 0;
	}
}

.about__wrapper {
	position: relative;
	z-index: 1;
}

.about__client-card {
	position: relative;
	z-index: 1;
	margin-left: -3.5vw;
	width: 44.43vw;
	height: 27.13vw;
	margin-right: 9vw;
	background-image: url("../img/client-bg.png");
	background-position: 0 0;
	background-size: contain;
	background-repeat: no-repeat;
}

.about__client-btn-wrap {
	position: absolute;
	left: 17.19vw;
	top: 9.69vw;
	margin: 0;
	width: 2.08vw;
	height: 2.08vw;
	border-radius: 50%;
	&::before,
	&::after {
	    content:"";
	    position: absolute;
	    border:1px solid #f49fa3;
	    left:-1.042vw;
	    right: -1.042vw;
	    top:-1.042vw;
	    bottom:-1.042vw;
	    border-radius: 50%;
	    animation: pulse 1.8s linear infinite;
	    z-index: -1;
  	}

  	&::after {
  		animation-delay: 1s;
  	}

}

.about__client-btn {
	cursor: pointer;
	color: #ffffff;
	font-weight: 700;
	display: block;
	width: 2.08vw;
	height: 2.08vw;
	font-size:1.3vw;
	background-color: #f4a0a3;
	border-radius: 50%;
	border: none;
	outline: none;
	box-shadow: 2px 2px 0px 0px #d47077;
	&::before {
		content: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna';
		position: absolute;
		display: block;
		opacity: 0;
		transition: all ease 1s;
		color: #282828;
		left: 0;
		bottom: 0;
		font-size: 0.73vw;
		font-weight: 300;
		width: 10.83vw;
		height: 12.55vw;
		padding: 1.9vw;
		padding-top: 2.5vw;
		background-image: url("../img/tooltip-bg.png");
		background-size: contain;
		background-repeat: no-repeat;
		z-index: -1;
	}
	&:hover::before {
		opacity: 1;
	}
	&:after {
		content: "";
		position: absolute;
		display: block;
		width: 3px;
		height: 3px;
		border-radius: 50%;
		background-color: #ffffff;
		top: 0.57vw;
		left: 50%;
		transform: translateX(-50%);
	}
}

.about__next-link-wrap {
	position: absolute;
	margin: 0;
	left: 50%;
	transform: translateX(-50%);
	bottom: 6.35vw;
	z-index: 2;
	&::before,
	&::after {
	    content:"";
	    position: absolute;
	    border:1px solid #ffffff;
	    left:-1.042vw;
	    right: -1.042vw;
	    top:-1.042vw;
	    bottom:-1.042vw;
	    border-radius: 50%;
	    animation: pulse 1.8s linear infinite;
	    z-index: -1;
  	}

  	&::after {
  		animation-delay: 1s;
  	}
}

.about__next-link {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 1.65vw;
	height: 1.67vw;
	border-radius: 50%;
	border: 3px solid #ef8a90;
	&::before {
		content: "";
		display: block;
		width: 1vw;
		height: 0.5vw;
		background-image: url("../img/arrow.svg");
		background-repeat: no-repeat;
		background-position: center;
		transform: rotate(90deg);
		cursor: pointer;
	}

	&::after {
		content: "";
		position: absolute;
		display: block;
		bottom: -1.77vw;
		left: 50%;
		transform: translateX(-50%);
		width: 0.57vw;
		height: 1.75vw;
		background-image: url("../img/button-bg.png");
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}
}

@media (max-width: 992px) {
	.about {
		padding: 30px;
		flex-direction: column;
		align-items: center;
	}

	.about__p {
		margin: 0;
		width: auto;
		text-align: center;
		font-size: 30px;
		line-height: 36px;
		margin-bottom: 20px;
	}

	.about__wrapper {
		display: flex;
		flex-direction: column;
	}

	.about__list {
		margin: 0;
		margin-bottom: 30px;
	}

	.about__item {
		position: relative;
		padding-left: 20px;
		font-size: 15px;
		line-height: 24px;
		&::before {
			content: "";
			position: absolute;
			display: block;
			left: 0;
			top: 7px;
			width: 10px;
			height: 10px;
			background-color: #ef9499;
			border: 2px solid #ffffff;
			border-radius: 50%;
			box-shadow: 0px 1px 13px 0px rgba(239, 148, 153, 0.38);
		}
	}

	.about__button {
		width: 180px;
		margin-bottom: 20px;
		align-self: center;
		font-size: 11px;
		padding-left: 10px;
		padding-right: 40px;
		padding-top: 10px;
		padding-bottom: 10px;
		border-radius: 25px;
		border-bottom: 2px solid #d7747a;
		&::after {
			right: -50px;
			bottom: 5px;
			width: 100px;
			height: 30px;
		}
	}

	.about__client-card {
		margin: 0;
		margin-bottom: 70px;
		position: relative;
		z-index: 1;
		width: 176px;
		height: 236px;
		background-image: url("../img/client-card-mob.png");
	}

	.about__client-btn {
		width: 25px;
		height: 25px;
		font-size:20px;	
		&::before {
			font-size: 11px;
			width: 200px;
			height: 200px;
			padding: 20px;
			padding-right: 45px;
			padding-top: 30px;
			left: 0;
			bottom: 0;
		}

		&:after {
			top: 5px;
		}
	}

	.about__client-btn-wrap {
		width: 25px;
		height: 25px;
		left: 165px;
		top: 199px;
	}

	.about__next-link-wrap {
		position: static;
		transform: translateX(0);
		&::before,
		&::after {
		    border:1px solid #ef8a90;
		    left: -20px;
		    right: -20px;
		    top: -20px;
		    bottom: -20px;
	  	}
	}

	.about__next-link {
		width: 30px;
		height: 30px;
		&::before { 
			bottom: 15px;
			width: 10px;
			height: 10px;
		}

		&::after {
			display: none;
		}
	}
}

@media (max-width: 600px) {
	.about {
		padding: 10px;
	}

	.about__p {
		font-size: 20px;
		line-height: 28px;
	}
}

@media (max-width: 560px) {
	.about__client-btn {
		&::before {
			font-size: 11px;
			width: 200px;
			height: 200px;
			padding: 20px;
			padding-right: 45px;
			padding-top: 30px;
			left: -147px;
			bottom: 0;
		}
	}
}





