.modal-confirm {
	display: none;
	position: fixed;
	font-size: 1.56vw;
	line-height: 1.87vw;
	top: 50%;
	left: 50%;
	transform: translateX(-50%);
	margin-top: -8.5vw;
	width: 27.6vw;
	padding: 4vw;
	text-align: center;
	z-index: 6;
	border-radius: 2.8vw;
	background-color: #fcf1ec;
	background-image: url("../img/confirm-background.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
	&::after {
		content: "";
		position: absolute;
		right: 0;
		bottom: 1.3vw;
		width: 4.16vw;
		height: 8.54vw;
		background-image: url("../img/confirm-flower.png");
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}
}

.modal-confirm--show {
	display: block;
}

.modal-confirm__close {
	background-color: transparent;
	border: none;
	cursor: pointer;
	position: absolute;
	width: 0.94vw;
	height: 0.94vw;
	top: 2.5vw;
	right: 2.08vw;
	&::before,
	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 0.94vw;
		height: 2px;
		background-color: #c3c4c7;
	}
	&::before {
		transform: rotate(45deg);
	}
	&::after {
		transform: rotate(-45deg);
	}
}

.modal-confirm__p {
	position: relative;
	padding-top: 6vw;
	margin: 0;
	font-weight: bold;
	&::before {
		content: "";
		position: absolute;
		display: block;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 4.79vw;
		height: 4.79vw;
		background-image: url("../img/mark.svg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}
}

.modal-confirm__call {
	margin: 0;
	font-weight: 300;
}

@media (max-width: 992px) {
	.modal-confirm {
		font-size: 14px;
		line-height: 18px;
		margin-top: -200px;
		width: 280px;
		padding: 30px;
		&::after {
			bottom: 10px;
			width: 30px;
			height: 40px;
		}
	}

	.modal-confirm__p {
		padding-top: 40px;
		&::before {
			width: 30px;
			height: 30px;
		}
	}

	.modal-confirm__close {
		width: 10px;
		height: 10px;
		top: 20px;
		right: 20px;
		&::before,
		&::after {
			width: 10px;
		}
	}
}